AI_Social_Media_Manager.json
{
  "name": "PoseNigma Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "id": "61d43001-7bbd-4a7a-9b1b-066a843e5322",
      "name": "Daily Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        160
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_PRODUCT_IMAGES_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "Product Image",
            "cachedResultUrl": "YOUR_RESOURCE_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -32
      ],
      "id": "36fbe879-d7ab-43c8-82d2-4035432d349f",
      "name": "List Product Images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Social Media Automation",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 1235876218,
          "mode": "list",
          "cachedResultName": "content_posting_tracking",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "068e52c3-a515-43f5-9bbb-1d7b3d6f50ce",
      "name": "Tracking_sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -16,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f89883-027b-4622-967b-24b3b0bb58cb",
              "name": "all_img_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-1111-2222-3333-444455556666",
              "name": "img_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -32
      ],
      "id": "f51a6f65-4496-4a1b-b6c2-14f94f48f632",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5638e8d-2d3a-46f7-b729-7b10f512a70f",
              "name": "used_img_name",
              "value": "={{ $json.used_img_name }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-2222-3333-4444-555566667777",
              "name": "account_name",
              "value": "={{ $json.account_name }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-3333-4444-5555-666677778888",
              "name": "platform",
              "value": "={{ $json.platfrom }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-4444-5555-6666-777788889999",
              "name": "today_post_mode",
              "value": "={{ $json.today_post_mode }}",
              "type": "string"
            },
            {
              "id": "607318d9-09be-437e-9141-cdd88dbbbf46",
              "name": "index",
              "value": "={{ $json.index }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        288
      ],
      "id": "d7dea94e-f68e-4f4c-8135-0e88739d255c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "const all_items = $input.all().map(item => item.json);\n\n// 🔥 latest row (row_number MAX)\nconst latest_sheet = all_items\n  .filter(item => item.today_post_mode !== undefined && item.today_post_mode !== '')\n  .sort((a, b) => (b.row_number || 0) - (a.row_number || 0))[0] || {};\n\n// 🔹 values\nconst account_name = (latest_sheet.account_name || 'thebitz420dotio').trim();\nconst platform = (latest_sheet.platform || 'instagram').trim();\nconst today_post_mode = (latest_sheet.today_post_mode || '').trim();\n\n// 🔥 derive types\nconst fb_post_type = today_post_mode.includes('fb_image') ? 'image' : 'video';\nconst ig_post_type = today_post_mode.includes('ig_image') ? 'image' : 'video';\n\n// 🔹 बाकी same\nconst all_images = all_items\n  .filter(item => item.all_img_name)\n  .map(item => ({ name: item.all_img_name, id: item.img_id }));\n\nconst used_image_names = all_items\n  .filter(item => item.used_img_name !== undefined)\n  .map(item => (item.used_img_name || '').trim())\n  .filter(n => n !== '');\n\nconst last_used = used_image_names.length > 0\n  ? used_image_names[used_image_names.length - 1]\n  : '';\n\n// sort images\nall_images.sort((a, b) => {\n  const na = parseInt((a.name || '').match(/^\\d+/)?.[0] || '0', 10);\n  const nb = parseInt((b.name || '').match(/^\\d+/)?.[0] || '0', 10);\n  return na - nb;\n});\n\n// remove used\nconst used_set = new Set(used_image_names);\nconst remaining_images = all_images.filter(img => !used_set.has(img.name));\n\nreturn [{\n  json: {\n    all_images,\n    remaining_images,\n    last_used_name: last_used,\n    account_name,\n    platform,\n    today_post_mode,\n    fb_post_type,\n    ig_post_type,\n    total_images: all_images.length,\n    remaining_count: remaining_images.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        144
      ],
      "id": "34cbfb2f-fe37-42b8-977a-03ab014ec5b9",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst all_images = input.all_images || [];\nconst remaining_images = input.remaining_images || [];\nconst last_used_name = (input.last_used_name || '').trim();\nconst account_name = input.account_name || 'thebitz420dotio';\nconst platform = input.platform || 'instagram';\nconst last_post_type = (input.last_post_type || '').trim();\n\nif (all_images.length === 0) throw new Error('No images found in Drive folder!');\n\nlet selectedImage;\nlet nextPos;\nlet totalRemaining = remaining_images.length;\n\nif (remaining_images.length === 0) {\n  const lastUsedIndex = all_images.findIndex(img => img.name === last_used_name);\n  const resetPos = (lastUsedIndex + 1) >= all_images.length ? 0 : lastUsedIndex + 1;\n  selectedImage = all_images[resetPos];\n  nextPos = resetPos;\n  totalRemaining = all_images.length;\n} else {\n  const lastUsedIndexInAll = all_images.findIndex(img => img.name === last_used_name);\n  let picked = remaining_images.find(\n    img => all_images.findIndex(a => a.name === img.name) > lastUsedIndexInAll\n  );\n  if (!picked) picked = remaining_images[0];\n  selectedImage = picked;\n  nextPos = all_images.findIndex(a => a.name === picked.name);\n}\n\nlet today_post_mode;\nif (last_post_type === 'fb_image_ig_video') {\n  today_post_mode = 'fb_video_ig_image';\n} else {\n  today_post_mode = 'fb_image_ig_video';\n}\n\nconst fb_post_type = today_post_mode === 'fb_image_ig_video' ? 'image' : 'video';\nconst ig_post_type = today_post_mode === 'fb_image_ig_video' ? 'video' : 'image';\n\nconst productName = (selectedImage.name || 'Product')\n  .replace(/^\\d+_/, '')\n  .replace(/\\.[^.]+$/, '')\n  .replace(/[-_]/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    previous_image: last_used_name,\n    next_index: nextPos + 1,\n    total_images: all_images.length,\n    remaining_images: totalRemaining,\n    image_file_id: selectedImage.id,\n    image_file_name: selectedImage.name,\n    product_name: productName,\n    account_name,\n    platform,\n    last_post_type,\n    today_post_mode,\n    fb_post_type,\n    ig_post_type,\n    image_drive_url: `https://drive.google.com/uc?export=download&id=${selectedImage.id}`\n  }\n}];"
      },
      "id": "4159f95b-10df-4a29-9921-03bea47378e6",
      "name": "Compute Next Index & IG Type1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        144
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_PRODUCT_DOCS_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "Product Description"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "id": "63eea6fd-7309-4c10-b5ee-4770de93e4f6",
      "name": "GDrive – List Product Docs1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1216,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const computeItem = $('Compute Next Index & IG Type1').first().json;\n\nconst imageId = computeItem.image_file_id;\nconst imageName = computeItem.image_file_name;\nconst imageUrl = computeItem.image_drive_url;\n\nconst productName = (imageName || '')\n  .replace(/^\\d+_/, '')\n  .replace(/\\.[^.]+$/, '')\n  .replace(/[-_]/g, ' ')\n  .trim();\n\nconst imageBase = productName.toLowerCase().replace(/\\s+/g, '');\n\nlet matchedDoc = null;\ntry {\n  const allDocs = $('GDrive – List Product Docs1').all();\n  for (const docItem of allDocs) {\n    const docName = (docItem.json.name || '')\n      .replace(/\\.[^.]+$/, '')\n      .toLowerCase()\n      .replace(/[-_\\s]/g, '');\n    if (docName === imageBase) {\n      matchedDoc = docItem.json;\n      break;\n    }\n  }\n} catch(e) {}\n\nconst docExportUrl = matchedDoc\n  ? `https://docs.google.com/document/d/${matchedDoc.id}/export?format=txt`\n  : null;\n\nreturn [{\n  json: {\n    product_id: imageId,\n    product_image_name: imageName,\n    product_name: productName,\n    doc_id: matchedDoc ? matchedDoc.id : null,\n    doc_export_url: docExportUrl,\n    has_doc: !!matchedDoc,\n    product_image_url: imageUrl,\n    product_description: matchedDoc\n      ? `[Doc will be fetched] - ${matchedDoc.name}`\n      : 'Premium product available now.',\n    product_url: 'https://thebitz420.io'\n  }\n}];"
      },
      "id": "58d1d00c-3789-4d74-9212-80c8b68ed7f9",
      "name": "Parse GDrive Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{$json.product_image_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "e76e2734-856a-43c5-9e12-509598456194",
      "name": "HTTP – Download Image (Auth)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1648,
        144
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check_has_doc",
              "leftValue": "={{ $json.has_doc }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71d665a3-f984-4011-8f29-106294125121",
      "name": "IF: Has Doc?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1824,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.doc_export_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "149bf160-70af-4358-8958-f79091d4e938",
      "name": "Fetch Doc Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        0
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a product description writer for a premium cannabis brand in the UK.\nProduct name: {{ $('Parse GDrive Product Data').item.json.product_name }}\nWrite a 2-3 sentence premium lifestyle description. Output only the description, nothing else.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "fd85e6a2-1327-437d-b859-3f0fd81adfe2",
      "name": "GPT-4o – Generate Description",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2128,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "Your OpenAI Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const productData = $('Parse GDrive Product Data').first().json;\nlet description = productData.product_description || 'Premium product available now.';\ntry {\n  const docResponse = $('Fetch Doc Text').first();\n  const rawText = docResponse?.json?.data || docResponse?.json?.body || '';\n  const cleaned = rawText.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (cleaned && cleaned.length > 10) description = cleaned.substring(0, 800);\n} catch(e) {}\nif (!description || description.includes('[Doc will be fetched]')) {\n  try {\n    const genData = $('GPT-4o – Generate Description').first()?.json || {};\n    const genText = genData.output_text || genData.text || genData.content || genData.message?.content || genData.choices?.[0]?.message?.content || '';\n    if (genText.trim()) description = genText.trim();\n  } catch(e) {}\n}\nreturn [{ json: { ...productData, product_description: description } }];"
      },
      "id": "3b49ef1b-e797-45ec-8bfc-c9fdd40cea97",
      "name": "Merge Doc Text into Product",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media expert for a premium cannabis brand in the UK.\n\nProduct Name: {{ $('Merge Doc Text into Product').item.json.product_name }}\nDescription: {{ $('Merge Doc Text into Product').item.json.product_description }}\nProduct Link: {{ $('Merge Doc Text into Product').item.json.product_url }}\n\nRules:\n- Write ONLY ONE caption\n- MUST be 255 characters or LESS (STRICT HARD LIMIT — NEVER EXCEED)\n- Single line, no line breaks\n- Max 2 short sentences total\n- Start with a 2–4 word punchy hook\n- Tone: premium, clean, exciting\n- Keep wording VERY concise (short phrases, no filler)\n- Use at most 3 emoji (🌿 or 💨 or ✨)\n\nCRITICAL:\n1. After writing, COUNT the characters.\n2. If it exceeds 255, SHORTEN it.\n3. Repeat until it is 255 or less.\n4. Do NOT output anything above 255 characters.\n\nEnd EXACTLY with:\nExplore more 👉 {{ $('Merge Doc Text into Product').item.json.product_url }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "c5e8df26-9f2e-4a83-8374-c42200876ea4",
      "name": "Generate FB Caption",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2768,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "Your OpenAI Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media expert for a premium cannabis brand in the UK.\n\nProduct Name: {{ $('Merge Doc Text into Product').item.json.product_name }}\nDescription: {{ $('Merge Doc Text into Product').item.json.product_description }}\nProduct Link: {{ $('Merge Doc Text into Product').item.json.product_url }}\n\nRules:\n- Write ONLY ONE caption\n- MUST be 255 characters or LESS (STRICT HARD LIMIT — NEVER EXCEED)\n- Single line, no line breaks\n- Max 2 short sentences total\n- Start with a 2–4 word punchy hook\n- Tone: premium, clean, exciting\n- Keep wording VERY concise (short phrases, no filler)\n- Use at most 3 emoji (🌿 or 💨 or ✨)\n\nCRITICAL:\n1. After writing, COUNT the characters.\n2. If it exceeds 255, SHORTEN it.\n3. Repeat until it is 255 or less.\n4. Do NOT output anything above 255 characters.\n\nEnd EXACTLY with:\nExplore more 👉 {{ $('Merge Doc Text into Product').item.json.product_url }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "b9b92c1f-7c63-4798-b025-60c8c9d33d10",
      "name": "Generate IG Caption5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        3008,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "Your OpenAI Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const clean = (text) => (text || '').replace(/^\\d+\\.\\s*/gm, '').replace(/\\n+/g, ' ').replace(/\\s+/g, ' ').trim();\n\nlet fbCaption = '🌿 Premium quality cannabis. Explore more 👉 https://thebitz420.io';\nlet igCaption = '🌿 New drop. Link in bio. #TheBitz420 #UKCannabis';\n\ntry { const d = $('Generate FB Caption').first()?.json || {};\n  const t = d.output_text || d.text || d.content || d.message?.content || d.choices?.[0]?.message?.content || '';\n  if (t.trim()) fbCaption = clean(t); } catch(e) {}\n\ntry { const d = $('Generate IG Caption5').first()?.json || {};\n  const t = d.output_text || d.text || d.content || d.message?.content || d.choices?.[0]?.message?.content || '';\n  if (t.trim()) igCaption = clean(t); } catch(e) {}\n\nconst productData = $('Merge Doc Text into Product').first().json;\nreturn [{ json: { ...productData, facebook_caption: fbCaption, instagram_caption: igCaption } }];"
      },
      "id": "039442c5-297f-47d0-8737-ca3c47dfbee9",
      "name": "Merge Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        128
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.product_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d7bd6a4b-1221-4081-9ba4-50ad99eafa0a",
      "name": "Download Product Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3504,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "options": {
          "encoding": "base64"
        }
      },
      "id": "796ddf95-1c8d-41c0-8946-dc432f860ae1",
      "name": "Binary to Base",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        3728,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-goog-api-key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": \"You are a product photography expert. Analyze this product image in extreme detail. Describe: 1) The exact product type, shape, colors, text/logo on packaging, materials 2) Current lighting setup 3) Background. Output ONLY a single image generation prompt starting with: 'Professional product photography of...'\" },\n      { \"inline_data\": { \"mime_type\": \"image/png\", \"data\": \"{{ $json.data }}\" } }\n    ]\n  }]\n}",
        "options": {}
      },
      "id": "8953f6cf-78b5-4416-9ee0-9928a41ea6af",
      "name": "Gemini – Analyze Image → Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3952,
        128
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "id": "19edc233-5adb-4ac2-86d1-c1f9ecd760b9",
      "name": "Gemini – Generate AI Image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        4176,
        128
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Your Google Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Download Product Image').item.json.product_name.replace(/\\.[^/.]+$/, '') + '_Ai.png' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_AI_IMAGES_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "AI Generated Pic ",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "options": {}
      },
      "id": "d014f909-9fa3-40b0-83c6-37f7656cd6ce",
      "name": "Upload AI Image to GDrive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4400,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ff8c5d4e-eec5-4f77-8af6-5db0dbf69e91",
      "name": "Download AI Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4624,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binary = item.binary.data;\nif (!binary) throw new Error('No binary found');\nconst rawBase64 = await this.helpers.getBinaryDataBuffer(0, 'data').then(buffer => buffer.toString('base64'));\nlet mimeType = binary.mimeType || 'image/jpeg';\nif (!rawBase64 || rawBase64.length < 100) throw new Error(`Base64 invalid (length: ${rawBase64.length})`);\nreturn [{ json: { veo_image_base64: rawBase64, veo_image_mime_type: mimeType } }];"
      },
      "id": "6a23fa89-e926-4c48-8014-7612b333f39c",
      "name": "Prepare Image for Veo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        128
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-generate-preview"
        },
        "prompt": "=Create a high-end cinematic short video (6–8 seconds) for a premium UK cannabis product.\n\nUse the provided product image as the PRIMARY visual reference.\n\nIMPORTANT:\n- The video must visually match the product from the image\n- Maintain the same color, texture, shape, and structure\n- Do NOT redesign or replace the product\n\nProduct: {{ $('Merge Captions').item.json.product_name }}\n\nDescription:\n{{ $('Merge Doc Text into Product').item.json.product_description }}\n\nVisual Style:\n- Luxury UK dispensary aesthetic\n- Dark green, black, and gold palette\n- Premium, minimal, editorial look\n- Clean, high-end product focus\n\nScene Direction:\n- Cinematic zoom-in on the product\n- Slow pan with subtle micro rotation\n- Macro close-up highlighting texture and trichomes\n- Very subtle smoke effects\n- No clutter or extra objects\n\nLighting:\n- Moody studio lighting\n- Soft highlights with cinematic shadows\n\nMood & Tone:\n- Premium, exclusive, calm\n- Luxury lifestyle feel\n\nText Overlay:\n1. Main: \"{{ $('Merge Captions').item.json.product_name }}\"\n2. Description highlights (3–5 lines, 2–4 words each, sequential)\n3. Keep text perfectly readable, clean sans-serif only\n\nOutput:\n- Aspect ratio: 9:16\n- Duration: 6–8 seconds\n- Cinematic motion\n- High-end rendering\n\nStrict Constraints:\n- Do NOT change the product appearance\n- Do NOT add unrelated objects\n- Maintain exact visual consistency with the input image",
        "options": {}
      },
      "id": "57c52f92-42e8-43f8-bdbb-c68900d98cce",
      "name": "Veo 3 – Generate AI Video",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        5072,
        128
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Your Google Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Download Product Image').item.json.product_name.replace(/\\.[^/.]+$/, '') + '_Ai_Video.mp4' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_AI_VIDEOS_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Product Ai Video",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "options": {}
      },
      "id": "52d8d88b-57f1-46fe-8ce7-37b3a050548c",
      "name": "Upload AI Video to GDrive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5296,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const productData = $('Compute Next Index & IG Type1').first().json;\nconst captionData = $('Merge Captions').first().json;\n\n// 🔥 MODE FLIP LOGIC\nconst lastMode = productData.last_post_mode;\n\nlet nextMode = 'fb_image_ig_video';\n\nif (lastMode === 'fb_image_ig_video') {\n  nextMode = 'fb_video_ig_image';\n} else if (lastMode === 'fb_video_ig_image') {\n  nextMode = 'fb_image_ig_video';\n}\n\n// derive types\nconst fbPostType = nextMode.includes('fb_image') ? 'image' : 'video';\nconst igPostType = nextMode.includes('ig_image') ? 'image' : 'video';\n\n// 🔽 FILE IDS\nlet imageFileId = '';\nlet videoFileId = '';\n\ntry { imageFileId = $('Upload AI Image to GDrive').first().json.id || ''; } catch(e) {}\ntry { videoFileId = $('Upload AI Video to GDrive').first().json.id || ''; } catch(e) {}\n\n// 🔽 URL BUILD\nconst imageUrl = imageFileId\n  ? `https://drive.google.com/uc?export=download&id=${imageFileId}`\n  : productData.image_drive_url;\n\nconst videoUrl = videoFileId\n  ? `https://drive.google.com/uc?export=download&id=${videoFileId}`\n  : '';\n\n// ✅ FINAL RETURN\nreturn [{\n  json: {\n    ...productData,\n\n    // ✅ IMPORTANT (override)\n    today_post_mode: nextMode,\n    fb_post_type: fbPostType,\n    ig_post_type: igPostType,\n\n    facebook_caption:  captionData.facebook_caption,\n    instagram_caption: captionData.instagram_caption,\n\n    final_image_url:   imageUrl,\n    final_video_url:   videoUrl,\n\n    image_file_id:     imageFileId,\n    video_file_id:     videoFileId\n  }\n}];"
      },
      "id": "347185ef-9c78-4249-81e5-fe4c73450eab",
      "name": "Build Final Post Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5472,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42c6022b-a80f-4410-b8fa-6d96461262dc",
              "leftValue": "={{ $json.today_post_mode }}",
              "rightValue": "fb_image_ig_video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5680,
        128
      ],
      "id": "4e926fa5-38bb-4e2d-b02c-80dc0f98fdc2",
      "name": "If – FB Image or Video?"
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_image_url }}",
        "additionalFields": {}
      },
      "id": "28577985-c1b3-4536-b8c0-80ec8ec3c3af",
      "name": "Cloudinary – Upload FB Image",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        6416,
        304
      ],
      "credentials": {
        "cloudinaryApi": {
          "id": "YOUR_CLOUDINARY_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "user": "John_Posenigma",
        "platform": [
          "facebook"
        ],
        "title": "={{ $('Build Final Post Data1').first().json.facebook_caption }}",
        "altText": "={{ $('Build Final Post Data1').first().json.facebook_caption }}",
        "photos": "={{ $json.secure_url }}",
        "facebookPageId": "1146434975212198"
      },
      "id": "d9f5fa1b-1a8a-43bf-898c-477976f6d36a",
      "name": "FB – Post Image",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        6656,
        304
      ],
      "credentials": {
        "uploadPostApi": {
          "id": "YOUR_UPLOAD_POST_CREDENTIAL_ID",
          "name": "Your Upload Post Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f310d84e-4552-46da-ae2b-140dfcf89635",
      "name": "Download IG Video (Image Day)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6224,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.final_video_url }}",
        "resource_type": "video",
        "additionalFields": {}
      },
      "id": "4b844881-4e9c-485f-bddc-3b757ed552c2",
      "name": "Cloudinary – Upload IG Video2 (Image Day)",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        6416,
        512
      ],
      "credentials": {
        "cloudinaryApi": {
          "id": "YOUR_CLOUDINARY_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "John",
        "platform": [
          "instagram"
        ],
        "title": "={{ $('Build Final Post Data1').first().json.instagram_caption }}",
        "video": "={{ $json.url }}",
        "instagramMediaType": "REELS"
      },
      "id": "a09b6ca8-ff6b-45c2-a19f-600c704cf53f",
      "name": "IG – Post Video (Image Day)",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        6656,
        512
      ],
      "credentials": {
        "uploadPostApi": {
          "id": "YOUR_UPLOAD_POST_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9cca1b46-4c65-4304-b3fa-2df25ed05618",
      "name": "Download FB Video (Video Day)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6192,
        -400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.final_video_url }}",
        "resource_type": "video",
        "additionalFields": {}
      },
      "id": "533c38e4-7961-4a01-b0a6-cd5c417f7cb2",
      "name": "Cloudinary – Upload FB Video (Video Day)",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        6416,
        -400
      ],
      "credentials": {
        "cloudinaryApi": {
          "id": "YOUR_CLOUDINARY_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "John_Posenigma",
        "platform": [
          "facebook"
        ],
        "title": "={{ $('Build Final Post Data1').first().json.facebook_caption }}",
        "video": "={{ $json.url }}",
        "facebookPageId": "1146434975212198"
      },
      "id": "e0c076d9-9ac5-4ae8-8dc0-2dd8b82fe9f0",
      "name": "FB – Post Video (Video Day)",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        6640,
        -400
      ],
      "credentials": {
        "uploadPostApi": {
          "id": "YOUR_UPLOAD_POST_CREDENTIAL_ID",
          "name": "Your Upload Post Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_image_url }}",
        "additionalFields": {}
      },
      "id": "15d267b8-ee45-4245-8ee8-921e58b1cadc",
      "name": "Cloudinary – Upload IG Image (Video Day)",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        6416,
        -176
      ],
      "credentials": {
        "cloudinaryApi": {
          "id": "YOUR_CLOUDINARY_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "user": "John",
        "platform": [
          "instagram"
        ],
        "title": "={{ $('Build Final Post Data1').first().json.instagram_caption }}",
        "altText": "={{ $('Build Final Post Data1').first().json.instagram_caption }}",
        "photos": "={{ $json.secure_url }}"
      },
      "id": "6b018a3e-b028-42f0-9eb4-e3e91eaab89e",
      "name": "IG – Post Image (Video Day)",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        6640,
        -176
      ],
      "credentials": {
        "uploadPostApi": {
          "id": "YOUR_UPLOAD_POST_CREDENTIAL_ID",
          "name": "Your Upload Post Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const postData = $('Build Final Post Data1').first().json;\n\nlet fbPostId  = '';\nlet igPostId  = '';\nlet errorMessages = [];\n\nconst fbPostType = postData.fb_post_type;\n\nif (fbPostType === 'image') {\n  // TRUE branch: FB=Image, IG=Video\n  try {\n    const r = $('FB – Post Image').first().json;\n    fbPostId = r.id || r.post_id || r.postId || '';\n    if (r.error) errorMessages.push('FB Image: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('FB Image node error: ' + e.message); }\n\n  try {\n    const r = $('IG – Post Video (Image Day)').first().json;\n    igPostId = r.id || r.video_id || r.videoId || r.postId || '';\n    if (r.error) errorMessages.push('IG Video: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('IG Video node error: ' + e.message); }\n\n} else {\n  // FALSE branch: FB=Video, IG=Image\n  try {\n    const r = $('FB – Post Video (Video Day)').first().json;\n    fbPostId = r.id || r.video_id || r.videoId || r.postId || '';\n    if (r.error) errorMessages.push('FB Video: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('FB Video node error: ' + e.message); }\n\n  try {\n    const r = $('IG – Post Image (Video Day)').first().json;\n    igPostId = r.id || r.post_id || r.postId || r.id || '';\n    if (r.error) errorMessages.push('IG Image: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('IG Image node error: ' + e.message); }\n}\n\n// allSucceeded: at least one platform posted successfully\nconst allSucceeded = !!(fbPostId || igPostId);\n\nreturn [{\n  json: {\n    ...postData,\n    fb_post_id:     fbPostId,\n    ig_post_id:     igPostId,\n    all_succeeded:  allSucceeded,\n    error_messages: errorMessages.join(' | '),\n    posted_at:      new Date().toISOString()\n  }\n}];"
      },
      "id": "1d04aadd-1039-4ed7-91af-f5ce3a3498d9",
      "name": "Collect All Post Results2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7232,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "all-ok",
              "leftValue": "={{ $json.all_succeeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "c35a75ee-4257-4bb8-a6b8-cd115190b1b1",
      "name": "IF: All Posts Succeeded?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7392,
        176
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1235876218,
          "mode": "list",
          "cachedResultName": "content_posting_tracking",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "used_img_name": "={{$json.image_file_name}}",
            "posted_at": "={{$json.posted_at}}",
            "account_name": "={{$json.account_name}}",
            "platfrom": "={{$json.platform}}",
            "index": "={{$json.next_index}}",
            "today_post_mode": "={{$json.today_post_mode}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platfrom",
              "displayName": "platfrom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "today_post_mode",
              "displayName": "today_post_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "used_img_name",
              "displayName": "used_img_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e1b9d7ae-db44-49da-b640-c506ad44a9ed",
      "name": "Update Tracking Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        7664,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 91590751,
          "mode": "list",
          "cachedResultName": "post_logs",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $json.next_index }}",
            "product_name": "={{ $json.product_name }}",
            "image_file_name": "={{ $json.image_file_name }}",
            "fb_post_type": "={{ $json.fb_post_type }}",
            "ig_post_type": "={{ $json.ig_post_type }}",
            "today_post_mode": "={{ $json.today_post_mode }}",
            "fb_post_id": "={{ $json.fb_post_id }}",
            "image_url": "={{ $json.final_image_url }}",
            "video_url": "={{ $json.final_video_url }}",
            "status": "={{ 'posted' }}",
            "posted_at": "={{ new Date().toISOString() }}",
            "errors": "={{ $json.error_messages }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_file_name",
              "displayName": "image_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_type",
              "displayName": "fb_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_type",
              "displayName": "ig_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "today_post_mode",
              "displayName": "today_post_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_id",
              "displayName": "fb_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_id",
              "displayName": "ig_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errors",
              "displayName": "errors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "687d8529-8ff4-4e18-8bee-9581ec50c0b3",
      "name": "Log Post to post_log Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        7664,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jjkkok173@gmail.com",
        "subject": "=✅ TheBitz420 Posted – {{ $json.product_name }} (Index {{ $json.next_index }})",
        "emailType": "text",
        "message": "=✅ DAILY POST SUCCESSFUL – TheBitz420\n=====================================\n\n-------------------------------------\n📋 POST DETAILS\n-------------------------------------\nProduct       : {{ $json.product_name }}\nIndex         : {{ $json.next_index }}\nImage File    : {{ $json.image_file_name }}\nToday Mode    : {{ $json.today_post_mode }}\nPosted At     : {{ $json.posted_at }}\n\n-------------------------------------\n📡 PLATFORM STATUS\n-------------------------------------\nFacebook  ({{ $json.fb_post_type }}) : ✅ ID – {{ $json.fb_post_id }}\nInstagram ({{ $json.ig_post_type }}) : ✅ ID – {{ $json.ig_post_id }}\n\n-------------------------------------\n🖼️ MEDIA LINKS\n-------------------------------------\nImage   : {{ $json.final_image_url }}\nVideo   : {{ $json.final_video_url }}\n\n-------------------------------------\n📝 FACEBOOK CAPTION\n-------------------------------------\n{{ $json.facebook_caption }}\n\n-------------------------------------\n📝 INSTAGRAM CAPTION\n-------------------------------------\n{{ $json.instagram_caption }}\n\n=====================================\nTheBitz420 Automation | thebitz420.io\n=====================================",
        "options": {}
      },
      "id": "a91869a7-2eb3-40dd-859f-c9c28d9041e3",
      "name": "Email – Success Notification2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        7920,
        144
      ],
      "webhookId": "a15f4d34-7ca7-4d82-a240-e739258b70fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Your Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 91590751,
          "mode": "list",
          "cachedResultName": "post_logs",
          "cachedResultUrl": "YOUR_RESOURCE_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $json.next_index }}",
            "product_name": "={{ $json.product_name }}",
            "image_file_name": "={{ $json.image_file_name }}",
            "fb_post_type": "={{ $json.fb_post_type }}",
            "ig_post_type": "={{ $json.ig_post_type }}",
            "today_post_mode": "={{ $json.today_post_mode }}",
            "fb_post_id": "={{ $json.fb_post_id }}",
            "ig_post_id": "={{ $json.ig_post_id }}",
            "image_url": "={{ $json.final_image_url }}",
            "video_url": "={{ $json.final_video_url }}",
            "errors": "={{ $json.error_messages }}",
            "posted_at": "={{ $json.posted_at }}",
            "status": "failed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_file_name",
              "displayName": "image_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_type",
              "displayName": "fb_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_type",
              "displayName": "ig_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "today_post_mode",
              "displayName": "today_post_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_id",
              "displayName": "fb_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_id",
              "displayName": "ig_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errors",
              "displayName": "errors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ff02998a-341e-4078-afed-c4cd3ce68145",
      "name": "Log Failure to post_log Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        7648,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jjkkok173@gmail.com",
        "subject": "=❌ TheBitz420 Post FAILED – {{ $json.product_name }} (Index {{ $json.next_index }})",
        "emailType": "text",
        "message": "=❌ DAILY POST FAILED – TheBitz420\n=====================================\n\n⚠️ Tracking sheet was NOT updated.\nPlease fix the issue and re-run manually.\n\n-------------------------------------\n📋 POST DETAILS\n-------------------------------------\nProduct       : {{ $json.product_name }}\nIndex         : {{ $json.index }}\nImage File    : {{ $json.image_file_name }}\nToday Mode    : {{ $json.today_post_mode }}\nPosted At     : {{ $json.posted_at }}\n\n-------------------------------------\n📡 PLATFORM STATUS\n-------------------------------------\nFacebook  : {{ $json.fb_post_id ? '✅ Posted – ' + $json.fb_post_id : '❌ Not Posted' }}\nInstagram : {{ $json.ig_post_id ? '✅ Posted – ' + $json.ig_post_id : '❌ Not Posted' }}\n\n-------------------------------------\n🔴 ERROR DETAILS\n-------------------------------------\n{{ $json.error_messages || 'No error details available.' }}\n\n=====================================\nTheBitz420 Automation | thebitz420.io\n=====================================",
        "options": {}
      },
      "id": "3ce570cd-8d85-441c-a133-ef01bbaae005",
      "name": "Email – Failure Notification2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        7936,
        512
      ],
      "webhookId": "99ba54bb-c60c-441a-b4ae-66eb4a6be640",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Your Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.final_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4c3ff55d-4397-405f-baed-539e20659cbe",
      "name": "Download FB Image (image Day)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6240,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b65f8044-ae49-4dd0-a9fc-484526571c75",
      "name": "Download IG Image (Video Day)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6176,
        -176
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# FB Image ,  instragram Video Upload ",
        "height": 560,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6192,
        160
      ],
      "typeVersion": 1,
      "id": "2a3cb7c6-14aa-4b7f-9be5-b4894067baa3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# FB Video , instragram  Image Upload ",
        "height": 560,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6176,
        -496
      ],
      "typeVersion": 1,
      "id": "d2f1d1cc-c8b5-4f1a-bf5d-ab983d48c2c6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 400,
        "width": 2864,
        "color": "#073240"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        0
      ],
      "typeVersion": 1,
      "id": "85f8dc61-5fa2-4638-baba-efd9d16eee09",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Content Posting",
        "height": 1488,
        "width": 864,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6048,
        -576
      ],
      "typeVersion": 1,
      "id": "b99d5f10-abc0-453a-8850-c4ceb8413486",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const postData = $('Build Final Post Data1').first().json;\n\nlet fbPostId  = '';\nlet errorMessages = [];\nlet isSuccess = false;\n\nconst fbPostType = postData.fb_post_type;\n\nif (fbPostType === 'image') {\n  try {\n    const raw = $('FB – Post Image').first().json;\n    const r = raw.results?.[0] || raw;\n\n    fbPostId = r.id || r.post_id || r.postId || '';\n    isSuccess = r.success === true || !!r.post_url || !!fbPostId;\n\n    if (r.error) errorMessages.push('FB Image: ' + JSON.stringify(r.error));\n\n  } catch(e) {\n    errorMessages.push('FB Image node error: ' + e.message);\n  }\n\n} else {\n  try {\n    const raw = $('FB – Post Video (Video Day)').first().json;\n    const r = raw.results?.[0] || raw;\n\n    fbPostId = r.id || r.video_id || r.videoId || r.postId || '';\n    isSuccess = r.success === true || !!r.post_url || !!fbPostId;\n\n    if (r.error) errorMessages.push('FB Video: ' + JSON.stringify(r.error));\n\n  } catch(e) {\n    errorMessages.push('FB Video node error: ' + e.message);\n  }\n}\n\n// final decision\nconst allSucceeded = isSuccess;\n\n// 🔥 directly overwrite today_post_mode\nconst updated_today_post_mode = allSucceeded\n  ? 'fb_video_ig_image'\n  : 'fb_image_ig_video';\n\nreturn [{\n  json: {\n    ...postData,\n    fb_post_id: fbPostId,\n    all_succeeded: allSucceeded,\n    today_post_mode: updated_today_post_mode, // ✅ overwrite\n    error_messages: errorMessages.join(' | '),\n    posted_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "81b6653b-e57e-4268-ab30-8f95c2436c5d",
      "name": "Collect All Post Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7184,
        176
      ]
    },
    {
      "parameters": {
        "content": "#  Fb post +IG",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7168,
        448
      ],
      "typeVersion": 1,
      "id": "a6ab6eeb-257f-4220-936c-bb18cb04689a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# only Fb "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7152,
        -64
      ],
      "typeVersion": 1,
      "id": "6b1a3906-70d8-4026-8a39-cf8300c39fa0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        144
      ],
      "id": "df5765f4-4ca5-44ca-95fa-fc20697758a1",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Cron Trigger": {
      "main": [
        [
          {
            "node": "List Product Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tracking_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Product Images": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tracking_sheet": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Compute Next Index & IG Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Next Index & IG Type1": {
      "main": [
        [
          {
            "node": "GDrive – List Product Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive – List Product Docs1": {
      "main": [
        [
          {
            "node": "Parse GDrive Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GDrive Product Data": {
      "main": [
        [
          {
            "node": "HTTP – Download Image (Auth)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP – Download Image (Auth)1": {
      "main": [
        [
          {
            "node": "IF: Has Doc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Doc?": {
      "main": [
        [
          {
            "node": "Fetch Doc Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPT-4o – Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Doc Text": {
      "main": [
        [
          {
            "node": "Merge Doc Text into Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o – Generate Description": {
      "main": [
        [
          {
            "node": "Merge Doc Text into Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Doc Text into Product": {
      "main": [
        [
          {
            "node": "Generate FB Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FB Caption": {
      "main": [
        [
          {
            "node": "Generate IG Caption5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate IG Caption5": {
      "main": [
        [
          {
            "node": "Merge Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Captions": {
      "main": [
        [
          {
            "node": "Download Product Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Product Image": {
      "main": [
        [
          {
            "node": "Binary to Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Base": {
      "main": [
        [
          {
            "node": "Gemini – Analyze Image → Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Analyze Image → Prompt": {
      "main": [
        [
          {
            "node": "Gemini – Generate AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Generate AI Image": {
      "main": [
        [
          {
            "node": "Upload AI Image to GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload AI Image to GDrive": {
      "main": [
        [
          {
            "node": "Download AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download AI Image": {
      "main": [
        [
          {
            "node": "Prepare Image for Veo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image for Veo": {
      "main": [
        [
          {
            "node": "Veo 3 – Generate AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo 3 – Generate AI Video": {
      "main": [
        [
          {
            "node": "Upload AI Video to GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload AI Video to GDrive": {
      "main": [
        [
          {
            "node": "Build Final Post Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Post Data1": {
      "main": [
        [
          {
            "node": "If – FB Image or Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If – FB Image or Video?": {
      "main": [
        [
          {
            "node": "Download FB Video (Video Day)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download IG Image (Video Day)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download FB Image (image Day)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download IG Video (Image Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload FB Image": {
      "main": [
        [
          {
            "node": "FB – Post Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB – Post Image": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download IG Video (Image Day)": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload IG Video2 (Image Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload IG Video2 (Image Day)": {
      "main": [
        [
          {
            "node": "IG – Post Video (Image Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG – Post Video (Image Day)": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download FB Video (Video Day)": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload FB Video (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload FB Video (Video Day)": {
      "main": [
        [
          {
            "node": "FB – Post Video (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB – Post Video (Video Day)": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload IG Image (Video Day)": {
      "main": [
        [
          {
            "node": "IG – Post Image (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG – Post Image (Video Day)": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Post Results2": {
      "main": [
        []
      ]
    },
    "IF: All Posts Succeeded?2": {
      "main": [
        [
          {
            "node": "Update Tracking Sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Post to post_log Sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure to post_log Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracking Sheet2": {
      "main": [
        [
          {
            "node": "Email – Success Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Post to post_log Sheet2": {
      "main": [
        [
          {
            "node": "Email – Success Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure to post_log Sheet2": {
      "main": [
        [
          {
            "node": "Email – Failure Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download FB Image (image Day)1": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload FB Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download IG Image (Video Day)": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload IG Image (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Post Results": {
      "main": [
        [
          {
            "node": "IF: All Posts Succeeded?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "06a7ac61-ea57-4138-b326-73fedda649d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "633dd266c6ffde309a4a6bc4ca83de8b6bcd0b5c00f4defff036c6a88f052660"
  },
  "id": "YvgtCrLvlZHVQx2w",
  "tags": []
}